@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Wavefont:wght@4..1000&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto Condensed',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Audiowide';
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}